# Competencia: Clasificación de Péptidos Antimicrobianos

El equipo está conformado por:

    Angie Melissa Calderón Albarracin
    Diego Alejandro Zapata Alcaraz
    Juan David Valencia Quiceno
    Juan Esteban Arroyave Duque

In [101]:
#Importar paquetes
import pandas as pd
import numpy as np
import cv2
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [4]:
#Cargar la data
data_positiva=pd.read_csv('Datos/DatosPositivos1.csv')
data_negativa=pd.read_csv('Datos/DatosNegativos1.csv')
data_validacion=pd.read_csv('Datos/DatosValidacion1.csv')

data_positiva['Tipo']='Train'
data_negativa['Tipo']='Train'
data_validacion['Tipo']='Test'

data_pre=pd.concat([data_positiva,data_negativa,data_validacion])
#Nota: La clase 1, corresponde a los péptidos que SON antimicrobianos, 0 los que no.
# Adicional los datos están desbalanceados en la siguiente relacion 60% son positivos 40% negativos.

print('Forma de los datos positivos',data_positiva.shape)
print('Forma de los datos negativos',data_negativa.shape)
print('Forma de los datos validacion',data_validacion.shape)
print('Forma de los datos del preprocesamiento',data_pre.shape)

Forma de los datos positivos (8322, 1762)
Forma de los datos negativos (5561, 1761)
Forma de los datos validacion (1623, 1763)
Forma de los datos del preprocesamiento (15506, 1763)

### Preprocesamiento de datos
    1.Identificación de colummnas adicionales o diferentes entre los datos
    2.Eliminicación de columnas con más 20% de null y nan (Es posible el llenado)
    3.Filtrado de varianza
    4.Correlación entre las variables numéricas

In [6]:
# Encontrar las columnas que no se encuentra en los datasets (positivo, negativo y validación)
col_val=data_validacion.columns
col_pos=data_positiva.columns
col_neg=data_negativa.columns

for i in col_val:
    if i not in col_neg:
        print(i, 'No se encuentra')

Unnamed: 0 No se encuentra
Unnamed: 0.1 No se encuentra

In [38]:
#Elimianción de columnas con mayor cantidad de null o nan
aux=(data_pre.isnull().sum()/len(data_pre))*100
col_total=data_pre.columns
col_remove=[col_total[i] for i in range(len(col_total)) if aux[i]>=20]

data_pre=data_pre.drop(col_remove,axis=1)

In [89]:
#Eliminación de columnas por baja varianza.
#En primera instancia se seleccionan las columnas numéricas, luego se retira la columna 'class' porque es nuestra vble y
a=data_pre.var()
a.drop('class')
col_total=data_pre.columns

col_ana=[col_total[i] for i in range(len(a)) if a[i]<=0.001]
col_ana

In [100]:
data_pre[['charge',
 'taugrant30',
 'QSOgrant1',
 'QSOgrant2']].describe()

             charge    taugrant30     QSOgrant1     QSOgrant2
count  15506.000000  15506.000000  15506.000000  15506.000000
mean       1.869740      0.116402      0.013334      0.014927
std        3.017698      0.426620      0.023763      0.029479
min      -13.894000      0.000000      0.000000      0.000000
25%       -0.004000      0.000000      0.000000      0.000000
50%        1.793000      0.000000      0.005501      0.004394
75%        3.860000      0.000000      0.016044      0.016778
max       21.996000      4.419000      0.524904      0.771977

In [104]:
#cmap = sns.diverging_palette(h_neg=10,h_pos=240,as_cmap=True)
#sns.heatmap(data_pre.corr(), center=0,cmap=cmap, linewidths=1,annot=True, fmt=".2f")
data_pre.corr()

### Estandariazación de los datos

In [21]:
#scaler=StandardScaler()
#aata_std=scaler.fit(data_train)